

body{
	font-family: 'Raleway', sans-serif;
        font-size: 17px;

	background-color: #e9ece5;
}
#container{
	width: 1300px;
	margin: 0 auto;
	padding: 1px;
	background-color: #ffffff;

}

/* ACTIVE STATE */
#navmenu a.active{
	background-color: #3b3a36; 
	color:#ffffff;
}

#navigation{
	height:60px;
	margin-top:5px;
	text-align: center;
}

ul#navmenu{
	list-style-type: none;
	font-size: 20px;
	display: inline-block;
}


ul#navmenu li{
width: 235px;
text-align:center;
float: left;
margin-right: 4px; 
}

/*buttons*/

ul#navmenu a{

background-color: #c0dfd9; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 100px;

    }
ul#navmenu a:hover {
    background-color: #e9ece5; 
    color: #BDBDBD;
}


#banner{
	height: 250;
	
}

#navmenu li {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#footer{
    color: black;
    font-size: 10px;
    text-align: left;
}

